In [1]:
1 + 1

2

In [2]:
3 - 7

-4

In [3]:
3 * 5

15

In [4]:
5 / 2

2.5

In [5]:
5**2

25

In [6]:
5 // 2

2

In [7]:
5 % 2

1

In [8]:
4 % 2

0

In [9]:
5 - 2 * 3

-1

In [10]:
(5 - 2) * 3

9

In [12]:
x = 3

In [13]:
x + 3

6

In [14]:
x*6

18

In [27]:
# Cost of each item in my order
quesarito = 3.99
loaded_griller = 1.59
baja_blast = 1.99
tax_md = 0.06

In [21]:
# What is the total cost of my order (before tax?)
cost_pretax = quesarito + 3*loaded_griller + baja_blast
round(cost_pretax, 2)

10.75

In [22]:
# What is the total cost of my order (after tax)?
cost_pretax * (1 + tax_md)

11.395000000000003

In [23]:
cost_pretax + cost_pretax * tax_md

11.395000000000001

# Strings

In [35]:
h = "hello"
w = 'world'

In [38]:
# Concatenation
hw = h + ' ' + w

In [41]:
# Python is zero-indexed
hw[0]

'h'

In [42]:
hw[5]

' '

In [43]:
hw[-1]

'd'

In [44]:
len(hw)

11

In [47]:
hw.upper()

'HELLO WORLD'

In [48]:
hw.replace('o', '_')

'hell_ w_rld'

In [50]:
hw.count('o')

2

In [52]:
hw.ljust(30, '.')

'hello world...................'

In [53]:
'='*30

'=============================='

In [54]:
type(hw)

str

In [55]:
type(3)

int

In [56]:
type(3.141)

float

# Booleans

In [57]:
True

True

In [58]:
False

False

In [59]:
not True

False

In [60]:
not False

True

In [61]:
sky_blue = True
pigs_fly = False

In [62]:
# AND: A and B is true only if A and B are both true
sky_blue and pigs_fly

False

In [63]:
True and True

True

In [64]:
False and False

False

In [65]:
# OR: A or B is only false if both A and B are both false
sky_blue or pigs_fly

True

In [66]:
True or True

True

In [67]:
False or False

False

In [68]:
3 > 2

True

In [69]:
3 < 2

False

In [70]:
3 >= 3

True

In [71]:
3 <= 3

True

In [73]:
3 == 3

True

In [74]:
4 != 3

True

# Conditional (If) Statements

In [82]:
health = 60

if health >= 70:
    print('You\'re in great health!')
    print("Keep it up!")
elif health >= 50:
    print("You're in ok health!")
    print("Go to the gym sometimes.")
else:
    print("You're in poor health!")
    print("No more Taco Bell!")

You're in poor health!
No more Taco Bell!

# Lists and Loops

In [96]:
names = ['Tim', 'Tina', 'Ken']

In [97]:
len(names)

3

In [98]:
names[0]

'Tim'

In [99]:
names[0][0]

'T'

In [102]:
names.append('Jeremy')

In [103]:
names

['Tim', 'Tina', 'Ken', 'Jeremy', 'Jeremy']

In [104]:
names.remove('Jeremy')

In [105]:
names

['Tim', 'Tina', 'Ken', 'Jeremy']

In [106]:
dogs = ['Chloe', 'Precious']

In [108]:
# Concatenation!
books = names + dogs
books

['Tim', 'Tina', 'Ken', 'Jeremy', 'Chloe', 'Precious']

In [109]:
numbers = [1, 4, 67, 2, 3]

In [110]:
sum(numbers)

77

In [111]:
# Don't do this.
# Use a dictionary or class instead
bad_list = ['Tim', 33, True, ['a', 'b', 'c']]

In [115]:
books

['Tim', 'Tina', 'Ken', 'Jeremy', 'Chloe', 'Precious']

In [118]:
for person in books:
    if person == 'Jeremy':
        print(person + " is the WORST!")
    else:
        print(person + " is awesome!")

Tim is awesome!
Tina is awesome!
Ken is awesome!
Jeremy is the WORST!
Chloe is awesome!
Precious is awesome!

In [123]:
for n in range(1, 21):
    print(n)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [128]:
# FizzBuzz
# divisible by 3 = fizz
# divisible by 5 = buzz
# divisible by 3 and 5 = fizzbuzz
# otherwise, just print the number

for n in range(1, 101):
    if n % 5 == 0 and n % 3 == 0:
        print("FizzBuzz")
    elif n % 3 == 0:
        print("Fizz")
    elif n % 5 == 0:
        print("Buzz")
    else:
        print(n)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

# Functions

In [129]:
len(books)

6

In [130]:
round(3.1232131, 3)

3.123

In [131]:
print("Hello")

Hello

In [140]:
import math

In [150]:
from math import pi

In [151]:
# A big no-no
# from math import *

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [146]:
def area_circle(r):
    return pi * r**2

In [147]:
area_circle(10)

314.1592653589793

In [148]:
area_circle(0.001)

3.141592653589793e-06

In [149]:
area_circle(234.9954)

173487.66223765534

In [ ]:
# def sql_cmd(query):
#     conn = connect('11.22.33.44')
#     conn.login("timbook", "1234")
#     conn.execute(query)
#     conn.disconnect()

In [ ]:
# sql_cmd("SELECT * FROM whatever")

In [ ]:
# sql_cmd("SELECT user, id from users")

In [152]:
# The sum of the first n integers:
# n * (n + 1) / 2
100 * 101 / 2

5050.0

In [158]:
x = 3
x = x + 1
x += 1
x

5

In [159]:
# Thing 1: Add up all the integers 1 to 100

total = 0
for i in range(1, 101):
    total = total + i
    
total

5050

In [170]:
# Thing 2: Write a function with one argument: n
# That sums up all the numbers 1 to n using your answer from Thing 1
def gauss_sum(n):
    total = 0
    
    for i in range(1, n + 1):
        total = total + i
        
    return total

In [171]:
250*251/2

31375.0

In [172]:
gauss_sum(100)

5050

In [173]:
gauss_sum(250)

31375

In [174]:
gauss_sum(1000000)

500000500000

In [175]:
1000000*1000001/2

500000500000.0

In [178]:
a = list(range(5))

In [179]:
type(a)

list

In [180]:
a

[0, 1, 2, 3, 4]

In [181]:
sum(range(101))

5050

# Other Data Types

In [191]:
# Dictionaries
person = {'name': 'Tim', 'age': 29, 'phone': '234-3423', 'address': '123 Main St'}

In [185]:
person['name']

'Tim'

In [186]:
person['age']

29

In [202]:
person['name'] + ' lives at ' + person['address']

'Tim lives at 123 Main St'

In [199]:
def make_person(name, age):
    return {'name': name, 'age': age}

In [200]:
tim = make_person('Tim', 29)
heather = make_person('Heather', 28)

In [201]:
tim['name']

'Tim'

In [195]:
phone_numbers = {'Alice': '123-456-7890', 'Bob': '987-6543-210', 'Charlie': '111-222-3333'}

In [196]:
phone_numbers['Alice']

'123-456-7890'

In [197]:
phone_numbers['Dave'] = '444-555-8871'

In [198]:
phone_numbers

{'Alice': '123-456-7890',
 'Bob': '987-6543-210',
 'Charlie': '111-222-3333',
 'Dave': '444-555-8871'}

In [203]:
# Tuples - Pretty much the same as list, but immutable (can't be changed!)
names = ('Tim', 'Tina', 'Ken', 'Jeremy')

In [204]:
names[0]

'Tim'

In [205]:
names[0] = 'Timothy'

TypeError: 'tuple' object does not support item assignment

In [206]:
person = ('Tim', 29)
name, age = person

In [207]:
name

'Tim'

In [208]:
age

29